.gap{
    margin-right: 20px;
}
.box{
    width: 100px;
    height: 100px;
    display: none;
    margin-top: 50px;
    margin-left: 50px;
    /* background-color: brown; */
}
.box1{
    width: 100px;
    height: 100px;
}